<div class="container">
      <div class="leftaside">
        <div class="navigatin">
          <ul>
            <li> <a routerLink="./home" routerLinkActive="active">home</a></li>
            <li> <a  routerLink="./services" routerLinkActive="active">services</a></li>
            <li> <a routerLink="./contactus" routerLinkActive="active">contactus</a></li>
          </ul>
        </div>
      </div>
      <div class="section">
          <router-outlet></router-outlet>
      </div> 
      <div class="rightasider">
          <div class="navigatin">
              <ul>
                <li> <a routerLink="./home" routerLinkActive="active">home</a></li>
                <li> <a  routerLink ="./services" routerLInkActive="active">services</a></li>
                <li> <a routerLink="./contactus" routerLinkActive="active">contactus</a></li>
              </ul>
            </div>
      </div>
</div>

